.groceryImage {
    width: 27rem;
    aspect-ratio: auto;
    position: absolute;
    bottom: 1.5rem;
    left: calc((100% - 27rem) / 2);
}

@media screen and (max-width:465px) {
    .groceryImage {
        width: 18rem;
        aspect-ratio: auto;
        position: absolute;
        bottom: 1.5rem;
        left: calc((100% - 18rem) / 2);
    }
}

@media screen and (min-width:466px) and (max-width:767px) {
    .groceryImage {
        width: 21rem;
        aspect-ratio: auto;
        position: absolute;
        bottom: 1.3rem;
        left: calc((100% - 21rem) / 2);
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .groceryImage {
        width: 25rem;
        aspect-ratio: auto;
        position: absolute;
        bottom: 2.1rem;
        left: calc((100% - 25rem) / 2);
    }
}