.productInformation {
    height: 90%;
    width: 80%;
}

.nameDiv {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.name {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--light);
}

.desc {
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(179, 177, 177);
}

.middleDetails {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-color: antiquewhite; */
    /* gap: 1rem; */
}

.middleDetails>p {
    font-size: 1.5rem;
}

.rating {
    font-size: 1.2rem;
    color: var(--light);
    height: auto;
    display: flex;
    align-items: center;
    gap: .3rem;
    width: 100%;
    font-weight: bold;
}

.price {
    color: var(--light);
    font-size: 1.5rem;
}
.outOfStockDiv{
    height: 10%;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
}
.qtyDiv1 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
}

.qtyDiv1>p {
    font-size: 1.2rem;
    font-weight: bold;
    /* color: var(--light); */
    color: gray;
}

.qtyInp {
    display: flex;
    width: 5rem;
    height: 2.5rem;
}

.qtyInp>input {
    height: 2.5rem;
    width: 60%;
    border: none;
    outline: none;
    text-align: center;
    caret-color: transparent;
    user-select: none !important;
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--light);
    background-color: #f5f5f5;
}

.qtyBtn {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.qtyBtn>div {
    height: calc((100% - 2px) / 2);
    width: 100%;
    /* font-size: .7rem; */
    color: white;
    background-color: var(--light);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.qtyBtn>:nth-child(1) {
    border-bottom: 2px solid #f5f5f5;
    box-sizing: content-box;
}

.qtyBtn>div:hover {
    background-color: #ff9d00;
}

.charges {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.charges>p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light);
}

.buyAndCartBtn {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .6rem;
}

.buyAndCartBtn>a {
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyAndCartBtn>button {
    width: 24.3rem;
    height: 3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 550;
    cursor: pointer;
    transition: scale .2s;
    transition: background-color .7s ease;
}

.buyAndCartBtn>button:nth-child(1) {
    background-color: var(--light);
    color: white;
    box-sizing: content-box;
}

.buyAndCartBtn>button:nth-child(2) {
    background-color: #f5f5f5;
    color: var(--light);
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .productInformation {
        height: 90%;
        width: 90%;
        /* padding: 1rem 0; */
    }
    .nameDiv {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: .3rem;
    }
    .name {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: justify;
        color: var(--light);
    }
    .desc {
        font-size: 1rem;
        font-weight: 550;
        color: rgb(179, 177, 177);
    }
    .middleDetails {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        /* gap: .5rem; */
    }
    .middleDetails>p {
        font-size: 1.5rem;
    }
    .rating {
        color: var(--light);
        height: auto;
        display: flex;
        align-items: center;
        gap: .3rem;
        width: 100%;
        font-weight: bold;
    }
    .price {
        color: var(--light);
        font-size: 1.5rem;
    }
    .qtyDiv1 {
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: .3rem;
    }
    .qtyDiv1>p {
        font-size: 1rem;
    }
    .qtyInp {
        display: flex;
        width: 4rem;
        height: 2rem;
    }
    .qtyInp>input {
        height: 100%;
        width: 60%;
    }
    .qtyBtn>div {
        height: calc((100% - 1px) / 2);
    }
    .qtyBtn>:nth-child(1) {
        border-bottom: 1px solid #f5f5f5;
    }
    .charges {
        height: 13%;
    }
    .charges>p {
        font-size: 1.2rem;
    }
    .buyAndCartBtn {
        height: 27%;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
    }
    .buyAndCartBtn>button {
        transition: all .2s;
        font-size: 1.2rem;
        width: 100%;
        border-radius: 7px;
        height: 2.7rem;
    }
}

@media screen and (max-width:767px) {
    .productInformation {
        height: 100%;
        width: 100%;
        padding: 1rem;
    }
    .name {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: justify;
    }
    .desc {
        font-size: .9rem;
    }
    .middleDetails {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .middleDetails>p {
        font-size: 1.3rem;
    }
    .rating {
        color: var(--light);
        height: auto;
        display: flex;
        align-items: center;
        gap: .3rem;
        width: 100%;
        font-weight: bold;
    }
    .price {
        color: var(--light);
        font-size: 1.3rem;
        width: 100%;
    }
    .qtyDiv1 {
        height: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    .qtyDiv1>p {
        font-size: 1.1rem;
    }
    .qtyInp {
        display: flex;
        width: 4rem;
        height: 2rem;
    }
    .qtyInp>input {
        height: 100%;
        width: 60%;
    }
    .qtyBtn>div {
        height: calc((100% - 1px) / 2);
    }
    .charges {
        height: 13%;
    }
    .charges>p {
        font-size: 1.2rem;
    }
    .buyAndCartBtn {
        height: 27%;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
    }
    .buyAndCartBtn>button {
        transition: all .2s;
        font-size: 1.2rem;
        width: 100%;
        border-radius: 7px;
        height: 2.7rem;
    }
}

@media screen and (min-width:465px) and (max-width:767px) {
    .buyAndCartBtn {
        height: 27%;
        width: 100%;
        justify-content: space-around;
        gap: 1rem;
        flex-direction: row;
    }
    .buyAndCartBtn>a>button {
        border-radius: 7px;
        font-size: 1.3rem;
        transition: all .2s;
        width: 50%;
        height: 3rem;
    }
}