.productMain {
    min-height: 100vh;
    height: auto;
    width: 100%;
    z-index: 15;
    display: flex;
    flex-direction: column;
}

.productTop {
    height: 30rem;
    width: 100%;
    padding: 0;
    background-color: white;
    display: flex;
    position: relative;
}

.productTop1 {
    width: 50%;
    height: 85%;
    background-color: var(--light);
}

.productTop2 {
    width: 50%;
    height: 85%;
    background-color: #f5f5f5;
}

.rightImage {
    width: 10rem;
    aspect-ratio: auto;
    position: absolute;
    bottom: 0;
    right: 15%;
}

.leftImage {
    width: 10rem;
    aspect-ratio: auto;
    position: absolute;
    bottom: 0;
    left: 15%;
}

.middleImage {
    width: 10rem;
    aspect-ratio: auto;
    position: absolute;
    top: 5rem;
    left: calc(50% - 5rem);
}

.middleShadow {
    width: 6rem;
    aspect-ratio: auto;
    position: absolute;
    top: 85%;
    left: calc(50% - 3rem);
    filter: blur(4px);
}

.fixedMiddleProductDiv {
    height: 4rem;
    width: 100%;
    background-color: white;
    color: var(--light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    position: fixed;
    top: 6.6vh;
    left: 0;
    z-index: 12;
}

.middleProductDiv {
    height: 4rem;
    width: 100%;
    background-color: white;
    color: var(--light);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    font-size: 1.1rem;
}

.addMargin {
    margin-top: 4rem;
}

.productBottom {
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: .6fr 3.4fr;
    overflow-y: auto;
}

.productBottom1 {
    height: auto;
    width: 100%;
    background-color: white;
    border-right: 5px solid #f5f5f5;
    box-sizing: border-box;
}

.productBottom2 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 2rem;
}

.productBottom2 .card {
    width: 23%;
    margin: .3rem;
}

@media screen and (min-width:503px) and (max-width:1439px) {
    .productTop {
        height: 25rem;
    }
    .productTop1 {
        width: 50%;
        height: 80%;
    }
    .productTop2 {
        width: 50%;
        height: 80%;
    }
    .rightImage {
        width: 10rem;
        aspect-ratio: auto;
        position: absolute;
        bottom: 0;
        right: 15%;
    }
    .leftImage {
        width: 10rem;
        aspect-ratio: auto;
        position: absolute;
        bottom: 0;
        left: 15%;
    }
    .middleImage {
        width: 8rem;
        aspect-ratio: auto;
        position: absolute;
        top: 5rem;
        left: calc(50% - 4rem);
    }
    .middleShadow {
        width: 6rem;
        top: 80%;
    }
    .middleProductDiv {
        font-size: 14px;
    }
    .fixedMiddleProductDiv {
        top: 8vh;
        z-index: 25;
    }
    .productBottom {
        height: auto;
        min-height: 100vh;
        width: 100%;
        display: block;
        position: relative;
    }
    .productBottom1 {
        background-color: rgba(255, 255, 255, 0.973);
        height: 30rem;
        width: 15rem;
        display: flex;
        border-bottom-left-radius: 10px;
        transform: translateX(100%);
        position: fixed;
        z-index: 1;
        top: 4rem;
        right: 0;
        border: none;
        border-top-left-radius: 10px;
        transition: all .7s ease-in;
        top: calc(7vh + 5rem);
    }
    .productBottom1 .arrowIcon::before {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        top: -60%;
        right: 0;
        box-shadow: 0 15px var(--light);
        border-bottom-right-radius: 60px;
    }
    .productBottom1 .arrowIcon::after {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        bottom: -60%;
        right: 0;
        box-shadow: 0 -15px var(--light);
        border-top-right-radius: 60px;
    }
    .productBottom1 .arrowIcon {
        position: absolute;
        left: 0;
        top: 2rem;
        transform: translateX(-100%);
        background-color: var(--light);
        border-radius: .7rem 0 0 .7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 3rem;
        width: 1.5rem;
    }
    .boxShadow {
        box-shadow: -2px -2px 80px rgba(0, 0, 0, 0.39);
    }
    .arrowIcon>svg {
        font-size: 2rem;
    }
    .productBottom2 {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        min-height: 100%;
        width: 100%;
        padding: 1rem calc( (100% - (45rem + 1.8rem)) / 2);
    }
    .productBottom2 .card {
        width: 15rem;
        height: 25rem;
        margin: 0.3rem;
    }
}

@media screen and (max-width:502px) {
    .productTop {
        height: 20rem;
    }
    .productTop1 {
        width: 50%;
        height: 83%;
    }
    .productTop2 {
        width: 50%;
        height: 83%;
    }
    .rightImage {
        width: 6rem;
        right: 10%;
    }
    .leftImage {
        width: 6rem;
        left: 10%;
    }
    .middleImage {
        width: 6.4rem;
        aspect-ratio: auto;
        position: absolute;
        top: 5.7rem;
        left: calc(50% - 3.2rem);
    }
    .fixedMiddleProductDiv {
        top: 6vh;
    }
    .middleShadow {
        width: 4rem;
        top: 83%;
        left: calc(50% - 2rem);
    }
    .middleProductDiv {
        font-size: 14px;
    }
    .productBottom {
        height: auto;
        min-height: 100vh;
        width: 100%;
        display: block;
        position: relative;
    }
    .productBottom1 {
        background-color: rgba(255, 255, 255, 0.973);
        height: 30rem;
        width: 12rem;
        position: absolute;
        border-bottom-left-radius: 10px;
        transform: translateX(100%);
        position: fixed;
        z-index: 1;
        right: 0;
        border: none;
        border-top-left-radius: 10px;
        transition: all .7s linear;
        top: calc(7vh + 4rem);
    }
    .productBottom1 .arrowIcon {
        position: absolute;
        left: 0;
        top: 2rem;
        transform: translateX(-100%);
        background-color: var(--light);
        border-radius: .7rem 0 0 .7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 3rem;
        width: 1.5rem;
    }
    .productBottom1 .arrowIcon::before {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        top: -60%;
        right: 0;
        box-shadow: 0 15px var(--light);
        border-bottom-right-radius: 60px;
    }
    .productBottom1 .arrowIcon::after {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        bottom: -60%;
        right: 0;
        box-shadow: 0 -15px var(--light);
        border-top-right-radius: 60px;
    }
    .boxShadow {
        box-shadow: -2px -2px 80px rgba(0, 0, 0, 0.39);
    }
    .arrowIcon>svg {
        font-size: 2rem;
    }
    .productBottom2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: .5rem;
        height: auto;
        min-height: 100%;
        width: 100%;
    }
    .productBottom2 .card {
        width: 48%;
        margin: .2rem;
    }
}

@media screen and (min-width:466px) and (max-width:767px) {
    .productTop {
        height: 20rem;
    }
    .productTop1 {
        width: 50%;
        height: 83%;
    }
    .productTop2 {
        width: 50%;
        height: 83%;
    }
    .rightImage {
        width: 7rem;
        right: 12%;
    }
    .leftImage {
        width: 7rem;
        left: 12%;
    }
    .middleImage {
        width: 6rem;
        aspect-ratio: auto;
        position: absolute;
        top: 5rem;
        left: calc(50% - 3rem);
    }
    .middleShadow {
        width: 4rem;
        top: 83%;
        left: calc(50% - 2rem);
    }
}