.cartCard{
    height: 15rem;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 10px  rgba(231, 222, 222, 0.233);
    display: grid;
    grid-template-columns: 1.1fr 4fr .25fr;
    position: relative;
}
.deletedProductOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}
.deletedProductOverlay>svg{
    color: var(--light);
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.itemCheck{
    height: 1.1rem;
    width: 1.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 1rem;
    left: 1rem;
    position: absolute;
}
.itemCheck>input[type="checkbox"]{
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}
.itemCheck>input:checked{
    accent-color: var(--light);
}
.itemCheck>input:not(:checked){
    accent-color:red !important;
}
.itemImage{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-right: 2px solid var(--light) ;
    padding: 1rem 1.5rem;
}
.itemImage>img{
    aspect-ratio: 9/16;
    width: 100%;
    object-fit: contain;
}
.itemRemove{
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    cursor: pointer;
}
.itemRemove>svg{
    color: var(--light);
    font-size: 1.8rem;
}
.itemDetail{
    padding: .7rem 1rem 2rem 1rem; 
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.itemDetail1>a{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    color: var(--light);
    text-decoration: none;
}
.itemDetail1>a:hover{
    text-decoration: underline;
}
.green{
    color:#388e3c;
}
.red{
    color:#ff6161;
}
.itemStatus{
    font-weight: 550;
    font-size: 1.1rem;
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .itemCheck>input[type="checkbox"]{
        width: 1rem;
        height: 1rem;
    }
    .itemCheck{
        left: .5rem;
        top: 1rem;
    }
    .cartCard{
        height: 12rem;
        width: 80%;
        max-width: 50rem;
        border-radius: 12px;
        grid-template-columns: 1.5fr 4fr .35fr;
    }
    .itemStatus{
        font-weight: 550;
        font-size: 1rem;
    }
    .itemDetail1>a>h2{
        font-size: 1.2rem;
    }
    .itemDetail1>a>h2>span{
        font-size: 1rem !important;
    }
    .itemDetail2>span>p{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .itemDetail3>h2{
        font-size: 1.2rem;
    }
    .itemRemove>svg{
        color: var(--light);
        font-size: 1.5rem;
    }
}
@media screen and (min-width:0px) and (max-width:767px) {
    .itemCheck>input[type="checkbox"]{
        width: .8rem;
        outline: none;
        height: .8rem;
    }
    .itemCheck{
        top: 1rem;
        left:calc((100% - 1.65rem));
    }
    .cartCard{
        height: 10rem;
        width: 97%;
        border-radius: 7px;
        grid-template-columns:1.5fr 4fr .35fr;
    }
    .itemStatus{
        font-weight: 550;
        font-size: .9rem;
    }
    .itemDetail1>a>h2{
        font-size: 1rem;
    }
    .itemDetail1>a>h2>span{
        font-size: .8rem !important;
    }
    .itemDetail2>span>p{
        font-size: .9rem;
        font-weight: bold;
    }
    .itemDetail3>h2{
        font-size: 1rem;
    }
    .itemRemove{
        padding:2.5rem .2rem;
    }
    .itemRemove>svg{
        color: var(--light);
        font-size: 1.5rem;
    }
    .itemImage{
        padding: 0rem 0.2rem;
    }
}