.header {
    height: 3.5rem;
    background-color: var(--dark);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.4fr .6fr;
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}

.brand {
    color: #f5f5f5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.brand>img {
    /* padding-left: 2rem; */
    height: 2.5rem;
    width: 7rem;
    aspect-ratio: 9/16;
}

.brandSpan {
    color: var(--dark);
    font-size: 2.5rem;
}

.header .centerDiv {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;
    gap: 2rem;
}

.rightDiv>svg {
    height: 2rem;
    width: 2rem;
    color: var(--light);
}

.rightDiv .MuiAvatar-root {
    margin-left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--light);
}

.linkHeaderMain {
    height: 2rem;
    width: 100%;
    margin-top: 3.5rem;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
}

@keyframes headerAnimation {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 2rem;
        opacity: 1;
    }
}

@keyframes linksAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.linksHeader {
    z-index: 12;
    width: 99%;
    height: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16.66%;
    background-color: var(--light);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: headerAnimation 1s ease-in;
    transition: all .5s;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: .5rem;
}

.linksHeader::-webkit-scrollbar {
    display: none;
}

.linksHeader>div {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
}

.linksHeader>div>a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f5f5f5;
    font-weight: bold;
    animation: linksAnimation 1400ms ease-in 500ms;
    transition: all .5s;
}

.menuDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    z-index: 5;
    width: 2.3rem;
}

.menuDiv>svg {
    z-index: -1;
}

.menuItems {
    position: absolute;
    top: 100%;
    transform: translateX(40%);
    width: 10rem;
    height: auto;
    visibility: hidden;
    transition: all .7s ease-in;
    opacity: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    background-color: var(--dark);
}

.menuDiv:hover .menuItems,
.menuDiv:active .menuItems {
    visibility: visible;
    opacity: 1;
    height: 11rem;
}

.menuItems>ul,
.loginMenu>ul {
    list-style: none;
    height: 100%;
    width: 100%;
}

.menuItems>ul>li,
.loginMenu>ul>li {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .5rem 0;
    font-size: 1rem;
    transition: all .3s ease-in;
}

.menuItems>ul>li:hover,
.loginMenu>ul>li:hover {
    background-color: var(--light);
    font-weight: bold;
}

.menuItems>ul>li>a,
.loginMenu>ul>li>a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.loginMenu {
    position: absolute;
    top: 100%;
    transform: translateX(40%);
    width: 10rem;
    height: auto;
    visibility: hidden;
    transition: all .5s ease-in;
    opacity: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    background-color: var(--dark);
    border-top: 2px solid #5e5e5e;
}

.menuDiv:hover .loginMenu,
.menuDiv:active .loginMenu {
    visibility: visible;
    opacity: 1;
    height: 3rem;
}

@media screen and (max-width:767px) {
    .header {
        height: 3.5rem;
        grid-template-columns: .7fr 2.5fr .8fr;
    }
    .centerDiv {
        justify-content: center !important;
        /* background-color: green; */
        justify-content: flex-end !important;
        padding-right: 1rem;
    }
    .brand {
        padding-left: 1rem;
    }
    .brand>img {
        height: 2rem;
        width: 5rem;
        aspect-ratio: 9/16;
    }
    .rightDiv {
        padding-right: 1rem;
        align-items: center;
    }
    .rightDiv>svg {
        height: 1.9rem;
        width: 1.9rem;
    }
    .rightDiv .MuiAvatar-root {
        /* margin-left: 1rem; */
        height: 2.3rem;
        width: 2.3rem;
    }
    .menuDiv {
        width: 2rem;
    }
    .linksHeader {
        grid-auto-columns: 29%;
        overflow-x: scroll;
    }
    .linksHeader>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItems {
        background-color: var(--dark);
        color: white;
        position: absolute;
        top: 100%;
        transform: translateX(20%);
        z-index: 10;
        width: 9rem;
    }
}

@media screen and (max-width:502px) {
    .header {
        height: 3.5rem;
        grid-template-columns: 1.1fr 1.8fr 1.1fr;
    }
    .rightDiv {
        justify-content: flex-end;
        gap: 1rem;
    }
    .centerDiv {
        justify-content: center !important;
        align-items: center;
        padding-right: 0;
    }
}

@media screen and (min-width:768px) and (max-width:1440px) {
    .header {
        height: 3.5rem;
        grid-template-columns: 1fr 2.4fr .6fr;
    }
    .brand {
        padding-left: 2rem;
    }
    .brand>img {
        height: 2rem;
        width: 5;
        aspect-ratio: 9/16;
    }
    .rightDiv {
        padding-right: 2rem;
        padding-left: 1rem;
    }
    .rightDiv>svg {
        height: 2.2rem;
        width: 2.2rem;
    }
    .rightDiv .MuiAvatar-root {
        margin-left: 1rem;
        height: 2.3rem;
        width: 2.3rem;
    }
    .menuItems {
        background-color: var(--dark);
        color: white;
        position: absolute;
        top: 100%;
        transform: translateX(25%);
        z-index: 10;
        width: 8rem;
    }
}