.sidebar {
    height: 100%;
    width: 100%;
    z-index: 14;
    background-color: var(--light);
}

.sidebar1 {
    height: 100%;
    padding-top: 5.5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--light);
}

.sidebar1>a {
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 2.4rem;
    transition: all .5s linear;
}

.sidebar1>a:hover,
.sidebar .active {
    border-radius: 0px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 0px !important;
    width: 100% !important;
    color: var(--light) !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .sidebar {
        box-shadow: 0 0 20px 3px rgba(58, 57, 57, 0.226);
    }

    .sidebar1>a {
        width: 100%;
        /* padding-left: .7rem; */
        display: flex;
        justify-content: flex-start;
        padding-left: 0.5rem;
    }

    .sidebar1>a:hover,
    .sidebar .active {
        border-radius: 0px !important;
        background-color:var(--light);
        border-radius: 0px !important;
        width: 100% !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width:767px) {
    .sidebar {
        height: 100%;
        width: 0;
        top: 0;
        opacity: .95;
        left: 0;
        position: absolute;
        transition: all .5s ease-in;
        background-color: white;
    }

    .sidebar1 {
        transition: all .5s ease-in;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: white;
        overflow: hidden;
    }

    .sidebar1>a {
        color: var(--light);
        width: 100%;
        opacity: 1;
        animation: opaAnimation 1s linear;
        background-color: transparent;
        box-shadow: none;
        padding-left: .9rem;
    }

    @keyframes opaAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes sidebar1Animation {
        from {
            opacity: 0;
            width: 0;
        }

        to {
            opacity: 1;
            width: 100%;
        }
    }

    .closeSlide {
        width: 0;
        border-right: 3px solid var(--light);
    }

    .slide {
        border-right: 2px solid transparent;
        border: none;
        width: 12rem;
        box-shadow: 0 2px 20px 2px rgba(204, 204, 204, 0.4);
    }

    .slideIcon {
        position: absolute;
        top: 6rem;
        right: 0;
        height: 3rem;
        width: 1.5rem;
        background-color: var(--light);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        border-radius: 0 .7rem .7rem 0;
    }

    .slideIcon>svg {
        font-size: 2rem;
    }

    .slideIcon::before {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        top: -60%;
        left: 0;
        box-shadow: 0 15px var(--light);
        border-bottom-left-radius: 60px;
    }

    .slideIcon::after {
        content: '';
        height: 60%;
        width: 70%;
        z-index: -5;
        position: absolute;
        bottom: -60%;
        left: 0;
        box-shadow: 0 -15px var(--light);
        border-top-left-radius: 60px;
    }
    /* .sidebar1>a:hover,
    .sidebar .active {
        border-radius: 0px !important;
        background-color:var(--light);
        border-radius: 0px !important;
        width: 100% !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 1.2rem !important;
    } */
}