.success{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10rem;
    gap: 1rem;
    flex-direction: column;
    z-index: 200;
    position: inherit;
    background-color: #f5f5f5;
}
.success>svg{
    font-size: 10rem;
     color: var(--light);
}
.success>h3{
    font-size: 1.5rem;
    color: var(--light);
    font-weight: bold;
}
.success>button{
    height: 2.5rem;
    width: 15rem;
    background-color: var(--light);
    border: none;
    outline: none;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid transparent;
    transition: all .5s;
    cursor: pointer;
}
.success>button:hover{
    color: var(--light);
    background-color: transparent;
    border: 2px solid var(--light);
}